# → copier en secrets/pve.yml (généré automatiquement par create-lxc-supervision.sh)
default:
  user: monitoring@pve
  token_name: supervision
  token_value: REMPLACER_PAR_LE_SECRET_DU_TOKEN
  verify_ssl: false
